* {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    ;
}


#headimage {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
    margin-left: auto;
    margin-right: auto;
    margin: 0;
    padding: 0;

}

.content {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    max-width: 800px;
}

h1 {
    font-weight: 900;
    font-size: 50px;
    text-align: center;
    margin-bottom: 10px;
    background-color: white;
    color: rgb(236, 122, 141);

}

h2 {
    margin-left: -40px;
    color: rgb(236, 122, 141);

}

em{
    font-weight: 500;
    color: rgb(236, 122, 141);
}


.headinfo {
    padding-left: 50px;
}

.head-col {
    width: 50%;
    display: inline-block;
}

.head-col-icons {
    float: right;
    /* position: relative; */
    padding-top: 50px;
    /* padding-left: 30px;*/
}

.fa-solid{
    color: rgb(236, 122, 141);

}

#starimage {
    display: block;
    width: 90%;
    max-width: 1200px;
    height: 300px;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
}


.instructionimage {
    width: 50%;
    max-width: 400px;
    object-fit: cover;
    float: right;
    padding-right: 12px;
}

.instructiontext {
    width: 40%;
    max-width: 300px;
}


.instructionimage li::after {
    clear: both;
}

.instruction li {
    margin-top: -10px;
}

.instructions {
    /* width: 70%;
    max-width: 600px; */
    margin-left: auto;
    margin-right: auto;
}

.instructions li::marker {
    font-weight: 900;
    font-size: 40px;
    padding-top: 10px;
    color: rgb(236, 122, 141);

}

.instructiontext {
    padding-bottom: 30px;
}

#step1 {
    padding-bottom: 170px;
}

#imagestep1{
    margin-top: -100px;
}

#imagestep4 {
    margin-top: -293px;
}

#step5 {
    margin-top: 75px;
    margin-bottom: 110px;
}

#imagestep5 {
    margin-top: -185px;
}

#imagestep7{
    margin-top: -144px;
}

#step10 {
    margin-top: 100px;
    margin-bottom: 110px;
}

#imagestep10 {
    margin-top: -200px;
}

#imagestep13 {
    margin-top: -355px;
    height: 350px;
}


/* MEDIA QUERIES */
@media (max-width: 640px) {
    #headimage {
        width: 100%;
        height: 150px;
    }

    h1 {
        font-weight: 900;
        font-size: 30px;
        margin-bottom: 10px;
    }

    h2 {
        margin-left: -10px;
        font-size: 20px;
    }


    .headinfo {
        padding-left: 50px;
    }

    .head-col {
        width: 80%;
    }

    .head-col-icons {
        clear: both;
        padding: 0;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 10px;
    }

    #starimage {
        display: block;
        width: 90%;
        max-width: 1200px;
        height: 300px;
        object-fit: cover;
        margin-left: auto;
        margin-right: auto;
    }

    .instructions li::marker {
        font-weight: 900;
        font-size: 30px;
        padding-top: 10px;

    
    }

    .instructionimage{
        clear: both;
        float: none;
        width: 100%;
    }

    .instructions {
        width: 90%;
        max-width: 600px;
    }

    .content{
        width: 90%;
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }

    #ingredientshead{
        margin-top: 30px;
    }

    .instructiontext{
        width: 90%;
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }

    .instruction{
        margin:0;
        padding:0;
    }
 
    #imagestep1{
        margin-top: 0px;
    }

    #step1 {
        padding-bottom: 0px;
    }
    
    #imagestep4 {
        margin-top: 0px;
    }
    
    #step5 {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    
    #imagestep5 {
        margin-top: 0px;
    }

    #imagestep7{
        margin-top: 0px;
    }
    
    #step10 {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    
    #imagestep10 {
        margin-top: 0px;
    }
    
    #imagestep13 {
        margin-top: 0px;
    }
}