body {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-width: 800px;
}

@media (min-width: 640px) {
    * {
        background-color: #eaf6ff;
    }
}

@media (max-width: 500px) {
    h1 {
        font-size: 1.5rem;
    }
}

@media (min-width: 640px) {
    h1 {
        font-size: 2.5rem;
    }
}

#fixed-size-grid-items li {
    width: 170px;
    font-size: 0.8rem;
    padding-left: 0;
    padding: 0;
    display: block;
    float: left;
    list-style: none;
    margin: 10px;
}

#fixed-size-grid-items::after {
    content: "";
    display: block;
    clear: both;
}

#stretchable-grid-items li{
    width: 100%;
    
    list-style: none;
    padding: 0;
    display: block;
    float: left;
    list-style: none;



}

#stretchable-grid-items li aside{
    margin: 10px;
}

@media (min-width: 480px){
    #stretchable-grid-items li{
        width: 50%;
    }
}

@media (min-width: 640px){
    #stretchable-grid-items li{
        width: 25%;
    }
}

#stretchable-grid-items ul{
    margin-left: -10px;
    margin-right: -10px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}