#button-nike {
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    font-style: italic;
    background-color: #000000;
    border: 2px solid #000000;
    color: rgb(255, 255, 255);
    display: inline-block;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: uppercase;
    height: 50px;
    border-radius: 15px;
    margin: auto;
    margin-top: 100px;
    padding: 10px 20px 10px 18px;
    font-weight: bold;
    transition: all .5s;

}

#button-nike:hover {
    color: rgb(0, 0, 0);
    background-color: white;
}


#button-apple {
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    background-color: #d6d6d6;
    border: 2px solid #d6d6d6;
    color: #323232;
    display: inline-block;
    box-sizing: border-box;
    text-decoration: none;
    height: 50px;
    border-radius: 25px;
    margin: auto;
    margin-top: 100px;
    padding: 10px 20px 10px 20px;
    transition: all .5s;

}

#button-apple:hover {
    color: #323232;
    background-color: rgb(255, 255, 255);
    border: 2px solid #d6d6d6;
}


#button-new-yorker {
    font-size: 20px;
    font-family: 'Forum', cursive;
    font-style: normal;
    background-color: white;
    border: 1px solid #ffffff;
    color: #000000;
    display: inline-block;
    box-sizing: border-box;
    text-decoration: none;
    height: 50px;
    margin: auto;
    margin-top: 100px;
    padding: 13px 20px 10px 20px;
    transition: all .5s;

}

#button-new-yorker:hover {
    border: 1px solid #000000;
}



#button-exploding-kittens {
    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
    text-transform: uppercase;
    background-color: black;
    border: 3px solid black;
    color: #bd2c2a;
    border-radius: 10px;
    display: inline-block;
    box-sizing: border-box;
    text-decoration: none;
    height: 50px;
    margin: auto;
    margin-top: 100px;
    padding: 13px 20px 10px 20px;
    transition: all .2s;
}

#button-exploding-kittens:hover {
    border: 1px solid #ff0400;
    color: black;
    background-color: #ff0400;
}


#button-lyft {
    background-color: #ff00bf;
    border: 3px solid #ff00bf;
    border-radius: 10px;
    display: inline-block;
    box-sizing: border-box;
    text-decoration: none;
    margin: auto;
    margin-top: 100px;
    padding-top: 10px;
    padding-bottom: 2px;
    padding-left: 20px;
    padding-right: 20px;
    transition: all .4s;
}

.fa-lyft {
    color: #ffffff;
    font-size: 70px;
}

#button-lyft:hover {
    background-color: #ffffff;
    border: 3px solid #ffffff;
}

.fa-lyft:hover {
    color: #ff00bf;
}

#button-ideo {
    font-size: 20px;
    font-family: 'Space Mono', monospace;
    background-color: white;
    border: 1px solid #ffffff;
    color: #000000;
    display: inline-block;
    box-sizing: border-box;
    text-decoration: none;
    height: 50px;
    margin: auto;
    margin-top: 100px;
    padding: 13px 20px 10px 20px;
    transition: all .2s;

}

#button-ideo:hover {
    font-size: 30px;
}


#button-mo-garden {
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    background-color: rgb(255, 255, 255);
    border: 4px double rgb(0, 63, 0);
    color: rgb(0, 63, 0);
    font-weight: bold;
    display: inline-block;
    box-sizing: border-box;
    text-decoration: none;
    height: 80px;
    width: 230px;
    margin: auto;
    margin-top: 100px;
    padding: 13px 20px 10px 20px;
}

#button-mo-garden:hover {
    background: linear-gradient(to bottom, #b4ddb4 0%, #83c783 17%, #52b152 33%, #008a00 67%, #005700 83%, #002400 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    color: white;
    border: green;
}



#button-pottermore {
    font-size: 40px;
    font-family: 'Island Moments', cursive;
    background-color: rgb(0, 0, 0);
    border: 5px;
    border-radius: 25px;
    color: rgb(236, 214, 50);
    font-weight: bold;
    display: inline-block;
    box-sizing: border-box;
    text-decoration: none;
    height: 70px;
    width: 200px;
    margin: auto;
    margin-top: 100px;
    padding: 13px 20px 10px 20px;
}

#button-pottermore:hover {
    background-color: rgb(0, 8, 85);
    color: rgb(255, 255, 255);
}



#button-instagram {
    font-size: 40px;
    font-family: 'Cookie', cursive;
    background: linear-gradient(45deg, rgba(234, 184, 46, 1) 0%, rgba(201, 138, 38, 1) 22%, rgba(201, 34, 216, 1) 51%, rgba(111, 0, 247, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    border: 5px;
    border-radius: 25px;
    color: white;
    display: inline-block;
    box-sizing: border-box;
    text-decoration: none;
    height: 70px;
    width: 200px;
    margin: auto;
    margin-top: 100px;
    padding: 13px 20px 10px 20px;
}

#button-instagram:hover {
    color: rgb(200, 38, 200);
    background: white;
}


#button-army {
    font-size: 40px;
    font-family: 'Quantico', sans-serif;
    background-color: #000000;
    border: 5px solid #fec326;
    border-radius: 5px;
    color: white;
    display: inline-block;
    box-sizing: border-box;
    text-decoration: none;
    height: 70px;
    width: 200px;
    margin: auto;
    margin-top: 100px;
    transition: all .5s;
}

#button-army:hover {
    letter-spacing: 10px;
}


#button-bissingers {
    font-size: 40px;
    font-family: 'Germania One', cursive;
    background-color: #ffffff;
    border: 7px double #bf961f;
    border-radius: 5px;
    color: #bf961f;
    display: inline-block;
    box-sizing: border-box;
    text-decoration: none;
    height: 70px;
    width: 200px;
    margin: auto;
    margin-top: 100px;
    transition: all .8s;
    padding-top: 4px;
}

#button-bissingers:hover {
    border: none;
}

#button-tonight-show {
    font-size: 20pt;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    background-color: #122341;
    border-radius: 300px;
    color: #ffffff;
    display: inline-block;
    box-sizing: border-box;
    text-decoration: none;
    height: 140px;
    width: 140px;
    text-align: left;
    line-height: 1;
    margin: auto;
    margin-top: 54px;
    /* transition: all .8s; */
    padding-top: 31px;
    padding-left: 24px;
}

#button-tonight-show:hover {
    background-color: #15568d;
}


#button-harley {
    font-size: 15pt;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: #000000;
    color: #fa6600;
    display: inline-block;
    box-sizing: border-box;
    text-decoration: none;
    height: 50px;
    width: 179px;
    text-align: left;
    /* line-height: 1; */
    margin: auto;
    margin-top: 100px;
    transition: all .4s;
    padding-top: 12px;
    padding-left: 10px;
}

#button-harley:hover {
    font-style: italic;
}

#button-color-run {
    font-size: 25px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#8f8cf2+0,ee86e5+37,6de387+66,f4f080+100 */
    background: rgb(143, 140, 242);
    /* Old browsers */
    background: -moz-linear-gradient(left, rgba(143, 140, 242, 1) 0%, rgba(238, 134, 229, 1) 37%, rgba(109, 227, 135, 1) 66%, rgba(244, 240, 128, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(143, 140, 242, 1) 0%, rgba(238, 134, 229, 1) 37%, rgba(109, 227, 135, 1) 66%, rgba(244, 240, 128, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(143, 140, 242, 1) 0%, rgba(238, 134, 229, 1) 37%, rgba(109, 227, 135, 1) 66%, rgba(244, 240, 128, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8f8cf2', endColorstr='#f4f080', GradientType=1);
    /* IE6-9 */
    color: white;
    border: 2px solid #ffffff;
    border-radius: 50px;
    text-shadow: 1px 1px 16px rgb(150 150 150);
    display: inline-block;
    box-sizing: border-box;
    text-decoration: none;
    height: 70px;
    width: 200px;
    margin: auto;
    margin-top: 100px;
    padding-top: 17px;
}

#button-color-run:hover {
    color: #4962cd;
    background: white;
    border: 2px solid #4962cd;
    text-shadow: none;
}


#button-facebook {
    font-size: 20px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    height: 40px;
    box-sizing: border-box;
    border-radius: 4px;
    margin: auto;
    margin-top: 105px;
    padding: 10px 30px 0 30px;
    background-color: #1a77f2;
    color: rgb(255, 255, 255);
    text-transform: lowercase;
}

#button-facebook:hover {
    background-color: #3c88ea;
}



#button-moo {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
    color: #107c5d;
    display: inline-block;
    box-sizing: border-box;
    text-decoration: none;
    height: 50px;
    margin: auto;
    margin-top: 100px;
    padding: 13px 20px 10px 20px;
    transition: all .3s;
    text-transform: uppercase;

}

#button-moo:hover {
    border: 1px solid #107c5d;
}




#button-coke {
    font-size: 14pt;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: #f40000;
    border-radius: 300px;
    color: #ffffff;
    display: inline-block;
    box-sizing: border-box;
    text-decoration: none;
    height: 120px;
    width: 120px;
    text-align: left;
    line-height: 1;
    margin: auto;
    margin-top: 54px;
    /* transition: all .8s; */
    padding-top: 49px;
    padding-left: 14px;
    font-style: italic;
}

#button-coke:hover {
    background-color: #ffffff;
    border: 3px solid #f40000;
    color: #f40000;
    font-style: normal;
    padding-left: 10px;
}

#button-pastaria {
    font-size: 15pt;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: #ffffff;
    color: #f04824;
    border: 2px solid #054047;
    border-radius: 20px;
    display: inline-block;
    box-sizing: border-box;
    text-decoration: none;
    height: 50px;
    width: 104px;
    text-align: left;
    margin: auto;
    margin-top: 100px;
    transition: all .4s;
    padding-top: 12px;
    padding-left: 10px;
}

#button-pastaria:hover {
    font-style: italic;
    -webkit-box-shadow: 9px 9px 18px 0px rgba(50, 50, 50, 0.92);
    -moz-box-shadow: 9px 9px 18px 0px rgba(50, 50, 50, 0.92);
    box-shadow: 9px 9px 18px 0px rgba(50, 50, 50, 0.92);
}


#button-velocity {
    font-size: 15pt;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: italic;
    color: #ee311f;
    display: inline-block;
    box-sizing: border-box;
    text-decoration: none;
    height: 50px;
    width: 179px;
    text-align: left;
    /* line-height: 1; */
    margin: auto;
    margin-top: 100px;
    transition: all .4s;
    padding-top: 12px;
    padding-left: 10px;
}

#button-velocity:hover {
    letter-spacing: 5px;
}

#button-cartoon-network {
    font-size: 15pt;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    /* font-style: italic; */
    color: #ffffff;
    background-color: black;
    border: 3px;
    border-radius: 11px;
    display: inline-block;
    box-sizing: border-box;
    text-decoration: none;
    height: 50px;
    width: 179px;
    text-align: left;
    /* line-height: 1; */
    margin: auto;
    margin-top: 100px;
    transition: all .4s;
    padding-top: 12px;
    padding-left: 8px;
}

#button-cartoon-network:hover {
    color: #000000;
    background-color: rgb(255, 255, 255);
}