html{
    font-family: 'Archivo Narrow', sans-serif;
    line-height: 1.4;
}

.panel{
    background-color: rgba(144, 255, 222, 0.02)
}

.content-area{
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    padding: 20px 0px;
    background-color: rgba(255, 144, 144, 0.02)
}

#intro .content-area{
    text-align: center;
    /* padding-bottom: 185px; */
    background-image:  url(https://thumbs.dreamstime.com/b/flower-garden-summer-landscape-meadow-purple-color-blooming-plants-outdoor-203957956.jpg);
    width: 100%;
}

#headerimage{
    background-size: cover;
    background-position: center 20%;
}



#description{
    background-color: rgb(219, 190, 232);
    padding-bottom: 18px;
}

h1 {
    font-size: 80px;
    margin: 0;
    margin-top: 130px;
}

h2{
    font-size: 30px;
    margin: 0;
    line-height: 1;
    margin-bottom: 170px;
}

h3{
    font-size: 40px;
    text-align: center;
    margin: 0;
    margin-top: 17px;
}

#imagesection1{
    width: 400px;
    height: 300px;
    object-fit: cover;
    float: right;
    padding-top: 32px;
    margin-left: 40px;
    margin-bottom: 30px;
}

.section1text{
    font-size: 18px;
    line-height: 1.4;
    font-weight: 300;
}

.textblock{
    padding-top: 10px;
}

#paragraph1{
    padding-top: 3px;
}

#paragraph2{
    margin: 0;
    margin-top: -2px;
}

#paragraph3{
    margin-top: 16px;
}

#grid{
    padding-top: 2px;
    padding-bottom: 5px;
    background-color:rgb(255, 218, 241);
}

.gridimage{
    width: 200px;
    height: 150px;
    object-fit: cover;
    float: left;
    padding-right: 12px;
}

.gridcontent{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
    padding-top: 14px;
}
ul{
    list-style: none;
}

.gridcontent li{
    width: 100%
}

.gridcell{
    padding-bottom: 24px;
}

h4{
    font-size: 20px;
    margin: 0;
}

.phototext{
    font-size: 18px;
    padding-right: 30px;
    margin: 0;
    margin-top: 7px;
}

#conclusion{
    padding-top: 2px;
    padding-bottom: 80px;
    background-color:rgb(179, 255, 230);
}

.conclusiontext{
    font-size: 26px;
    text-align: center;
    margin: 0px 125px;
    padding-top: 31px;
}

.footertext{
    margin-top: 20px;
    font-size: 18px;
}