*{
    margin-left: 5%;
    background-color: rgb(251, 244, 255);
}

h1{
    font-size:50pt;
    font-family: 'Raleway', sans-serif;
}

h2{
    color:rgb(186, 186, 186);
    background-color: white;
    font-size: 15pt;
    font-family: Arial, Helvetica, sans-serif;

}
h3{
    color:rgb(186, 186, 186);
    background-color: white;
    font-size: 10pt;
    font-family: Arial, Helvetica, sans-serif;

}
p{
    font-family: 'Raleway', sans-serif;
    background-color: white;
}
.heading{
    font-size: 18pt;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(251, 244, 255);
}


/* section 1 */
section{
    border: 2px solid rgb(227, 186, 255);
    background-color: white;
    margin-right:30%;
    padding: 10px;
}

section.fontweight p.weightnormal{
    font-weight: normal;
}

section.fontweight p.weightbold {
    font-weight: bold;
}

/* section 2 */
section.fontstyle p.stylenormal{
    font-style: normal;
}
section.fontstyle p.styleitalic{
    font-style: italic;
}

/* section 3 */

section.letterspacing p.spacenormal{
    letter-spacing: normal;
}
section.letterspacing p.spacewide{
    letter-spacing: .3em;
}
section.letterspacing p.spacenarrow{
    letter-spacing: -.06em;
}

/* section 4 */
section.textdecoration p.stylenone{
    text-decoration: none;
}
section.textdecoration p.styleunderline{
    text-decoration: underline;
}

section.textdecoration p.stylelinethrough{
    text-decoration: line-through;
}
section.textdecoration p.styleoverline{
    text-decoration: overline;
}

/* section 5 */
section.texttransform p.ttnone{
    text-transform: none;
}
section.texttransform p.ttuppercase{
    text-transform: uppercase;
}
section.texttransform p.ttlowercase{
    text-transform: lowercase;
}
section.texttransform p.ttcapitalize{
    text-transform: capitalize;
}
